<aside class="left-sidebar custom-sidebar" data-sidebarbg="skin5">
  <div class="scroll-sidebar custom-scroll-sidebar">
    <nav class="sidebar-nav custom-sidebar-nav">
      <ul id="sidebarnav" class="pt-4 custom-sidebarnav">
        <li class="sidebar-item custom-sidebar-item">
          <a class="sidebar-link custom-sidebar-link" href="/views/index.ejs" aria-expanded="false">
            <i class="mdi mdi-view-dashboard custom-icon"></i>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li class="sidebar-item custom-sidebar-item">
          <a class="sidebar-link custom-sidebar-link" href="" aria-expanded="false">
            <i class="mdi mdi-chart-bar custom-icon"></i>
            <span class="hide-menu">Product Page</span>
          </a>
        </li>
        <li class="sidebar-item custom-sidebar-item">
          <a class="sidebar-link custom-sidebar-link" href="/product/addProduct" aria-expanded="false">
            <i class="mdi mdi-view-dashboard custom-icon"></i>
            <span class="hide-menu">Add Product</span>
          </a>
        </li>
        <li class="sidebar-item custom-sidebar-item">
          <a class="sidebar-link custom-sidebar-link" href="/category/addcategory" aria-expanded="false">
            <i class="mdi mdi-view-dashboard custom-icon"></i>
            <span class="hide-menu">Add Product Category</span>
          </a>
        </li>
        <li class="sidebar-item custom-sidebar-item">
          <a class="sidebar-link custom-sidebar-link" href="/subcategory/addsubcategory" aria-expanded="false">
            <i class="mdi mdi-view-dashboard custom-icon"></i>
            <span class="hide-menu">Add SubProduct Category</span>
          </a>
        </li>
        <li class="sidebar-item custom-sidebar-item">
          <a class="sidebar-link custom-sidebar-link" href="/extra/addextracategory" aria-expanded="false">
            <i class="mdi mdi-view-dashboard custom-icon"></i>
            <span class="hide-menu">Add ExtraProduct Category</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>